<div class="login-container">

  <div class="login-box">
    <h2>SmartBoard Login</h2>
<div class="input-wrapper">
  <input type="email"
         [(ngModel)]="email"
         placeholder="Email"
         [class.error-input]="emailError" />
  <span class="error-inside" *ngIf="emailError">
    {{ emailError }}
  </span>
</div>
<div class="input-wrapper">
  <input type="password"
         [(ngModel)]="password"
         placeholder="Password"
         [class.error-input]="passwordError" />
  <span class="error-inside" *ngIf="passwordError">
    {{ passwordError }}
  </span>
</div>
    <form (ngSubmit)="login()">
  <button type="submit">Login</button>
</form>

    
    <p class="switch">
  Don't have an account?
  <span (click)="goToRegister()">Register</span>
</p>

  </div>
  


</div>