<div class="login-container">

  <div class="login-box">
    <h2>SmartBoard Login</h2>

    <input type="email"
           placeholder="Email"
           [(ngModel)]="email">

    <input type="password"
           placeholder="Password"
           [(ngModel)]="password">

    <form (ngSubmit)="login()">
  <button type="submit">Login</button>
</form>

    
    <p class="switch">
  Don't have an account?
  <span (click)="goToRegister()">Register</span>
</p>

  </div>
  <!-- Premium Popup -->
<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-box">
    <h3>Error</h3>
    <p>{{ errorMessage }}</p>
    <button (click)="closePopup()">OK</button>
  </div>
</div>

</div>