
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- HEADER -->
<div class="header-container" *ngIf="!showFullAnalytics">

  <div class="brand">
    <div class="logo">SB</div>
    <div>
      <h1 class="page-title">SmartBoard</h1>
      <p class="subtitle">Premium Task Workflow Manager</p>
      
    </div>
  </div>
  <div class="search-box">
  <span class="material-icons">search</span>

  <input type="text"
         placeholder="Search tasks..."
         [(ngModel)]="searchText">

  <span *ngIf="searchText"
        class="clear-btn"
        (click)="searchText=''">
        ✖
  </span>
</div>

  <div class="header-actions">

    <!-- NEW COLUMN -->
    <button class="filter-btn" (click)="openColumnModal()">
      + New Column
    </button>
    
    

    <!-- SORT -->
    <div class="dropdown-wrapper">
      <button class="filter-btn" (click)="showFilter = !showFilter">
        ⚙ Sort
      </button>

      <div class="dropdown-panel" *ngIf="showFilter">

        <label>Priority</label>
        <select (change)="sortByPriority($any($event.target).value)">
          <option value="">All</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>

        <label>Date</label>
        <select (change)="sortByDate($any($event.target).value)">
          <option value="asc">Earliest First</option>
          <option value="desc">Latest First</option>
        </select>

      </div>
    </div>
    
    <!-- DARK MODE -->
    <button class="theme-toggle" (click)="toggleTheme()">
      {{ isDarkMode ? '☀ Light Mode' : '🌙 Dark Mode' }}
    </button>
   <div class="user-section" (click)="toggleUserMenu()">

 <div class="avatar">

  <img *ngIf="userPhoto !== ''"
       [src]="userPhoto"
       class="avatar-img"
       alt="profile">

  <span *ngIf="userPhoto === ''"
        [style.background]="getAvatarColor()"
        class="avatar-letter">
        {{ getUserInitial() }}
  </span>

</div>

</div>
<div class="user-dropdown" *ngIf="showUserMenu">

  <div class="user-info">
    {{ currentUser }}
  </div>

  <button (click)="goToProfile()">👤 Profile</button>
  <button (click)="logout()">🚪 Logout</button>

</div>

  </div>

</div>


<!-- ================= PREMIUM ANALYTICS PANEL ================= -->

<div class="analytics-container">

  <div class="analytics-header">
    <div>
      <div class="analytics-title">

<h2>Task Progress</h2>

<button class="analytics-arrow"
        (click)="openAnalytics()">

<span class="material-icons">
arrow_forward
</span>

</button>

</div>
      <p>{{ getCompletedTasks() }} / {{ getTotalTasks() }} Tasks Completed• {{ getCompletionPercent() }}%</p>
    </div>
  </div>

  <!-- Progress Bar -->
 <!-- Progress Bar -->
<div class="progress-bar">

  <div
    *ngFor="let col of columns"
    class="progress-segment"
    [style.width.%]="getColumnProgress(col.id)"
    [style.background]="col.color">
  </div>

</div>


<!-- Analytics Cards -->
<div class="analytics-grid">

<!-- TOTAL -->
<div class="analytics-card total">

<span class="material-icons dash-icon">
dashboard
</span>

<span>Total Tasks</span>
<h3>{{ totalTasks }}</h3>

</div>


<!-- OVERDUE -->
<div class="analytics-card overdue">

<span class="material-icons dash-icon">
warning
</span>

<span>Overdue</span>
<h3>{{ getOverdueTasks() }}</h3>

</div>


<!-- DYNAMIC COLUMNS -->
<div
class="analytics-card"
*ngFor="let col of columns"
[style.borderTop]="'4px solid ' + col.color">

<span class="material-icons dash-icon">
{{getColumnIcon(col.id)}}
</span>

<span>{{ col.name }}</span>

<h3>{{ getColumnTaskCount(col.id) }}</h3>

</div>

</div>
<!-- FULL ANALYTICS DASHBOARD -->

<!-- FULL ANALYTICS DASHBOARD -->

<div class="analytics-modal" *ngIf="showFullAnalytics">

<div class="analytics-modal-content">

<div class="analytics-modal-header">

<h2>Project Dashboard</h2>

<button class="close-btn" (click)="closeAnalytics()">
<span class="material-icons">close</span>
</button>

</div>

<!-- SUMMARY CARDS -->

<div class="analytics-grid">

<div class="analytics-card total">
<span>Total Tasks</span>
<h3>{{ totalTasks }}</h3>
</div>

<div class="analytics-card overdue">
<span>Overdue</span>
<h3>{{getOverdueTasks()}}</h3>
</div>

<div class="analytics-card">
<span>Completed</span>
<h3>{{ completedTasks }}</h3>
</div>

<div class="analytics-card">
<span>Progress</span>
<h3>{{getCompletionPercent()}}%</h3>
</div>

</div>


<!-- CHARTS -->
<div class="sprint-grid">

  <div class="chart-box">
    <h3>Sprint Progress</h3>
    <canvas id="sprintChart"></canvas>
  </div>

  <div class="chart-box">
    <h3>Burndown Chart</h3>
    <canvas id="burndownChart"></canvas>
  </div>

  <div class="chart-box">
    <h3>Weekly Productivity Chat</h3>
    <canvas id="productivityChart"></canvas>
  </div>

</div>
<div class="chart-grid">

<div class="chart-box">
<h3>Tasks by Column</h3>
<canvas id="columnChart"></canvas>
</div>

<div class="chart-box">
<h3>Tasks by Priority</h3>
<canvas id="priorityChart"></canvas>
</div>

<div class="chart-box">
<h3>Due Date Status</h3>
<canvas id="dueChart"></canvas>
</div>

</div>





<!-- COLUMN BREAKDOWN -->

<div class="breakdown">

<h3>Column Breakdown</h3>

<div *ngFor="let col of columns" class="break-row">

<span>{{col.name}}</span>

<div class="break-bar">

<div
class="break-fill"
[style.width.%]="getColumnProgressPercent(col.id)"
[style.background]="col.color">
</div>

</div>

<span>{{getColumnTaskCount(col.id)}} tasks</span>

</div>

</div>


<!-- ATTENTION REQUIRED -->

<div class="attention-box">

<h3>⚠ Attention Required</h3>

<div *ngFor="let t of tasks">

<div *ngIf="isTaskOverdue(t)">
❗ {{t.title}} (Overdue)
</div>

<div *ngIf="isTaskDueSoon(t)">
⏳ {{t.title}} (Due Soon)
</div>

</div>

</div>

</div>

</div>
<!-- ================= BOARD ================= -->

<div class="board"
     *ngIf="!showFullAnalytics"
     cdkDropList
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="dropColumn($event)">

  <div *ngFor="let col of columns"
       class="column"
       cdkDrag>

    <!-- COLUMN HEADER -->
    

      


  <div class="column-title"
     [style.background]="col.color"
     (dblclick)="openEditColumn(col)">

  <span class="column-count">
    <span class="material-icons column-icon">
{{getColumnIcon(col.id)}}
</span>

{{col.name | uppercase}}
    <span class="count-badge">
      {{getTasksByStatus(col.id).length}}
    </span>
  </span>

  <span class="percent">
    {{ getColumnProgressPercent(col.id) }}%
  </span>

  <!-- NORMAL MODE -->
  <ng-container *ngIf="editingColumnId !== col.id">

    <div class="column-actions">
      

      <button class="remove-btn"
              (click)="openColumnDeleteModal(col.id)">
        <span class="material-icons">delete</span>
      </button>
    </div>

  </ng-container>
  

  <!-- EDIT MODE -->
  <ng-container *ngIf="editingColumnId === col.id">

    <input [(ngModel)]="editedColumnName"
           class="edit-column-input" />

    <div class="column-actions">
      <button class="save-col-btn"
              (click)="saveColumnName(col)">
        ✔
      </button>

      <button class="cancel-col-btn"
              (click)="editingColumnId = null">
        ✖
      </button>
    </div>

  </ng-container>

</div>
    <!-- TASK AREA -->
    <div class="column-body"
         cdkDropList
         [id]="col.id"
         [cdkDropListData]="getTasksByStatus(col.id)"
         [cdkDropListConnectedTo]="getConnectedLists()"
         (cdkDropListDropped)="drop($event, col.id)">

      <!-- TASK LOOP -->
      
          <div *ngFor="let t of getTasksByStatus(col.id)"
     class="card"
     [class.overdue]="isTaskOverdue(t)"
     [class.duesoon]="isTaskDueSoon(t)"
     [class.ontrack]="isTaskOnTrack(t)"
     cdkDrag
     [cdkDragData]="t">

  <div class="card-header">

    <div class="task-title"
     [innerHTML]="highlight(t.title)">
</div>



    <div class="card-actions">
      <button class="icon-btn"
              (click)="openEditModal(tasks.indexOf(t))">
        ✏️
      </button>

      <button class="icon-btn delete"
              (click)="openDeleteModal(tasks.indexOf(t))">
        <span class="material-icons">delete_outline</span>
      </button>
    </div>

  </div>

   <div class="task-desc"
     [innerHTML]="highlight(t.desc)">
</div>
  <span class="badge"
        [ngClass]="{
          'high': t.priority=='High',
          'medium': t.priority=='Medium',
          'low': t.priority=='Low'
        }">
        {{t.priority}}
  </span>

  <div class="task-date">

📅 {{t.date}}

<span *ngIf="isTaskOverdue(t)" class="overdue-label">
🔴 Overdue
</span>

<span *ngIf="isTaskDueSoon(t)" class="duesoon-label">
🟡 Due Soon
</span>

<span *ngIf="isTaskOnTrack(t)" class="ontrack-label">
🟢 On Track
</span>

</div>

</div>
      <!-- EMPTY MESSAGE -->
      <div class="empty-msg"
           *ngIf="getTasksByStatus(col.id).length === 0">
        No tasks yet
      </div>
      <div class="empty-msg"
     *ngIf="searchText && getTasksByStatus(col.id).length === 0">
  No matching tasks found
</div>

      <!-- ADD TASK BUTTON -->
      <button class="add-btn"
              (click)="openAddModal(col.id)">
        + Add Task
      </button>

    </div>
  </div>

</div>

<!-- ================= TASK MODAL ================= -->

<div class="modal-backdrop" *ngIf="showTaskModal">
  <div class="modal-box">

    <h3>{{modalMode=='add' ? 'Add Task' : 'Edit Task'}}</h3>

    <input [(ngModel)]="newTask.title" placeholder="Enter Title">
    <textarea [(ngModel)]="newTask.desc" placeholder="Enter Description"></textarea>

    <select [(ngModel)]="newTask.priority">
      <option>High</option>
      <option>Medium</option>
      <option>Low</option>
    </select>

    <input type="date" [(ngModel)]="newTask.date">

    <div class="modal-actions">
      <button class="cancel-btn" (click)="showTaskModal=false">
        Cancel
      </button>

      <button class="submit-btn"
              *ngIf="modalMode=='add'"
              (click)="addTask()">
        Add Task
      </button>

      <button class="submit-btn"
              *ngIf="modalMode=='edit'"
              (click)="updateTask()">
        Update
      </button>
    </div>

  </div>
</div>

<!-- ================= TASK DELETE MODAL ================= -->

<div class="modal-backdrop" *ngIf="showDeleteModal">
  <div class="delete-modal">

    <div class="warning-icon">⚠</div>

    <h3>Delete this task?</h3>
    <p>This action cannot be undone.</p>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="showDeleteModal=false">
        Cancel
      </button>

      <button class="delete-btn" (click)="confirmDelete()">
        Delete
      </button>
    </div>

  </div>
</div>

<!-- ================= COLUMN CREATE MODAL ================= -->

<div class="modal-backdrop" *ngIf="showColumnModal">
  <div class="modal-box">

    <h3>Create New Column</h3>

    <input [(ngModel)]="newColumnName"
           placeholder="Enter Column Name">

    <div class="modal-actions">
      <button class="cancel-btn"
              (click)="showColumnModal=false">
        Cancel
      </button>

      <button class="submit-btn"
              (click)="createColumn()">
        Create Column
      </button>
    </div>

  </div>
</div>

<!-- ================= COLUMN DELETE MODAL ================= -->

<div class="modal-backdrop" *ngIf="showColumnDeleteModal">
  <div class="delete-modal">

    <div class="warning-icon">⚠</div>

    <h3>Delete this column?</h3>
    <p>All tasks inside this column will be permanently deleted.</p>

    <div class="modal-actions">
      <button class="cancel-btn"
              (click)="showColumnDeleteModal=false">
        Cancel
      </button>

      <button class="delete-btn"
              (click)="confirmColumnDelete()">
        Delete Column
      </button>
    </div>

  </div>
</div>

<!-- ================= POPUPS ================= -->

<div class="success-popup" *ngIf="showSuccessPopup">
  ✔ Task Added Successfully
</div>

<div class="update-popup" *ngIf="showUpdatePopup">
  ✔ Task Updated Successfully
</div>

<div class="delete-popup" *ngIf="showDeletePopup">
  ✖ Task Deleted Successfully
</div>

<div class="success-popup" *ngIf="showColumnSuccessPopup">
  ✔ Column Created Successfully
</div>

<div class="delete-popup" *ngIf="showColumnDeleteSuccessPopup">
  ✖ Column Deleted Successfully
</div>

<div class="update-popup" *ngIf="showColumnEditSuccessPopup">
  ✔ Column Name Updated Successfully
</div>
<div class="update-popup" *ngIf="showProfileUpdatePopup">
  ✔ Profile Updated Successfully
</div>


<!-- ================= PROFILE MODAL ================= -->

<div class="modal-backdrop" *ngIf="showProfileModal">
  <div class="modal-box">

    <h3>👤 Update Profile</h3>

    <input
      type="email"
      [value]="currentUser"
      disabled
    />

    <input
  type="password"
  placeholder="New Password"
  [(ngModel)]="newProfilePassword"
/>

<p class="profile-error" *ngIf="profileErrorMessage">
  {{ profileErrorMessage }}
</p>
    <div class="modal-actions">
      <button class="cancel-btn"
              (click)="showProfileModal=false">
        Cancel
      </button>

      <button class="submit-btn"
              (click)="updateProfile()">
        Update Profile
      </button>
    </div>

    

  </div>
</div>