<div class="auth-container">

  <div class="auth-box">
    <h2>Create Account</h2>

    <input type="email"
           placeholder="Email"
           [(ngModel)]="email">

    <input type="password"
           placeholder="Password"
           [(ngModel)]="password">

    <input type="password"
           placeholder="Confirm Password"
           [(ngModel)]="confirmPassword">

    <button (click)="register()">Register</button>

    <p class="error" *ngIf="error">{{error}}</p>

    <p class="switch">
      Already have an account?
      <span (click)="goToLogin()">
        Login
      </span>
    </p>

  </div>

</div>
